<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add drive</title>
</head>
<body>
    <h2>Add Placement Drive</h2>

<form method="POST">
    <input type="text" name="title" placeholder="Job Title"><br><br>
    <textarea name="description" placeholder="Description"></textarea><br><br>
    <input type="text" name="deadline" placeholder="Deadline"><br><br>
    <input type="text" name="skills" placeholder="Enter skills (Python, ML, SQL)">
    <button type="submit">Add Drive</button>
</form>
</body>
</html>