{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Update Profile</h2>

<form method="POST" class="card p-4 shadow-sm">

    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" value="{{ user.name }}" class="form-control">
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" value="{{ user.email }}" class="form-control">
    </div>

    <div class="mb-3">
        <label>Skills</label>
        <input type="text" name="skills" value="{{ user.skills }}" class="form-control">
    </div>

    <div class="mb-3">
        <label>Education</label>
        <input type="text" name="education" value="{{ user.education }}" class="form-control">
    </div>
    <div class="mb-3">
        <label>Phone Number</label>
        <input type="text" name="phone" value="{{user.Phone}}" class="form-control">
    </div>
    <button class="btn btn-dark  rounded- 1">Update</button>

</form>

{% endblock %}