<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View_application</title>
</head>
<body>
    <h2>Applications Received</h2>

    {% for app in applications %}
    <div class="card p-3 mb-3">

        <h4>{{ app.student.name }}</h4>
        <p>Email: {{ app.student.email }}</p>
        <p>
            Status:
            {% if app.status == 'selected' %}
                <span style="color: green;">Selected</span>
            {% elif app.status == 'shortlisted' %}
                <span style="color: orange;">Shortlisted</span>
            {% elif app.status == 'interview' %}
            <span style="color: blue;">Interview</span> 
            {% elif app.status == 'rejected' %}
                <span style="color: red;">Rejected</span>
            {% else %}
                <span>Pending</span>
            {% endif %}
            </p>
        <a href="/update_application_status/{{ app.id }}/shortlisted">Shortlist</a><br>|
        <a href="/update_application_status/{{ app.id }}/interview">Interview</a><br>
        <a href="/update_application_status/{{ app.id }}/rejected">Reject</a><br>
        <a href="/update_application_status/{{ app.id }}/selected">Select</a><br>
        <p>
    <a href="/static/resumes/{{ app.student.resume }}" target="_blank">
        View Resume
    </a>
    </p>
    
    </div>
    {% endfor %}

<a href="/logout">Logout</a>
</body>
</html>